@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Orbitron:wght@400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
:root {
  --bgc: hsl(0, 0%, 0%);
  --ngc: hsla(0, 0%, 0%, 0.521);
  --c1: hsl(356deg 60.45% 39.26%);
  --c1sm: hsl(15, 96%, 81%);
  --c2: hsl(168, 76%, 53%);
  --c2sm: hsl(123, 100%, 78%);
  --c3: hsl(206, 10%, 57%);
  --c3sm: hsl(190deg 5.81% 89.97%);
  --btn: hsl(116.55deg 61.7% 72.35%);
  --btnsm: hsl(77.32deg 86.59% 67.84%);
  --c: white;
  --bsc:hsl(0, 0%, 17%);
  --sc: hsl(0, 1%, 54%);
  --secbtn: hsl(0, 3%, 21%);
  --hf: "Orbitron", sans-serif;
  --scf: "Zain", sans-serif;
  --navf: "Google Sans Flex", sans-serif;
}

* {
  margin: 0;
  position: relative;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 999;
}

.nav-list {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: auto;

}

.nav-list li {
  list-style: none;
  padding: 0px 25px;
  cursor: pointer;
}

.m {
    width: 10%;
    height: 10%;
    margin-right: auto;
    bottom: 4vh;
  }

.nav-list li a {
  text-decoration: none;
  color: var(--sc);
  transition: all 0.3s ease;
  display: inline-block;
  font-size: large;
  font-family: var(--navf);
}

.nav-list li a:hover {
  text-decoration: none;
  color:white;
  transform: translateY(-2px);
}
 .l{
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  background: rgb(46, 55, 70);
  color: black;
  border-radius: 40px;
 }
 body{
  background: #ffff;
 }
 
 .hero{
  width: 97vw;
  height: 98vh;
  margin: auto;
  background: #004737;
  top: -10vh;
  border-radius: 10px 10px 10px 10px;
 }
