{% extends 'base.html' %}
{% block body %}

<title>About Haze</title>
<div class="bgc">
  <div class="paraq">
    Hey there,we're Haze
  </div>
  <div class="paraw">

    <p>Haze is a creative community built for readers, writers, and storytellers. It’s a space where ideas flow freely,
      voices are heard, and imagination has room to grow. Whether you’re sharing a personal blog, writing your next book
      chapter, or discovering stories from others, Haze brings people together through the power of words.</p><br>
    <p>Our platform is designed to encourage creativity, collaboration, and expression. Writers of all levels can
      publish their work, receive feedback, and connect with a supportive community that values originality and passion.
    </p>
    <br>
    <p>At Haze, every story matters. We believe writing is more than content — it’s a way to inspire, learn, and build
      meaningful connections. Join us and become part of a growing world of creators shaping stories that deserve to be
      told.</p>
      <br>
      <br>
      <p>For your valluable words</p>
      <p>E-Mail: earth8084@gmail.com</p>
    </div>
</div>

{% endblock body %}