<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='elytra.svg') }}" type="image/png">
</head>


<body>
        <nav class="navbar">


            <ul class="nav-list">
                <li class="m"><img src="../static/home.svg" alt="Elytra" width="180px"></li>
                <!-- <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Books</a></li>
                <li><a href="/" class="l">Join Us</a></li> -->


            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        {% block body %}
        {% endblock body %}

    <script src="static/script.js"></script>
</body>

</html>